body {
    background: linear-gradient(180deg, #04139c, #4d4bc5);
    text-align: center;
    padding: 20px;
}
p, h2{
    color: white;
    font-family:chakra petch, sans-serif;
    margin-top: 15px
}

