.titulo {
    color: white;
    font-size: 2rem;
    background: linear-gradient(180deg, rgb(7, 23, 199), rgb(61, 9, 146));
    border-radius: 24px;
    border: 1px solid rgb(12, 109, 193);
    padding: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 550px;
    padding: 0 auto;
    margin: 0 auto;
}
.img {
    width: 30px;;
    margin: 0 auto;
    padding: 0 auto;

}