* {
    box-sizing: border-box;
}

body {
    background:#313E51;
    display: flex;
    justify-content: space-between;
}
.titulo {
    justify-content: flex-start;
    margin-top: 200px;
    margin-left: 250px;
    color: white;

    p {
        margin-top:30px;
    }
}

.secao-dois {
    margin-top:200px;
    img {
        width: 50px;
    }
}
.caixa {
    gap: 40px;
    display: flex;
    background-color:#354761;
    margin-right: 400px;
    margin-top: 20px;
    max-width:32rem;
    border-radius: 20px;
    width: 30rem;
    padding:20px;
    color: white;
}