/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

/*Parte de título*/
h1 {
    margin: auto 0;
    text-align:center;
    margin-top:40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4E342E;
}
/*Parte de navegação*/
header nav a {
    font-weight: bold;
    display: inline-block;
    position: relative;
    color:#4E342E;
}
header nav a:hover {
    color: #E91E63 !important; 
    transition: color 0.3s ease;
}
header nav a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E91E63;
    transition: width 0.3s;
}
header nav a:hover,
header nav a:focus {
    color: #E91E63 !important;
}
header nav a:hover::after,
header nav a:focus::after {
    width: 100%;
}
.card-body {
    h4{
        font-weight: bold;
        color:#4E342E;
        text-align:center;
        margin-bottom:2rem;
    }
    background-color: #e91e62cb;
    border-radius:30px;
}
.form-label {
    color:#4E342E;
    font-weight: bold;
}
.card {
    margin-top: 3rem;
    margin:3rem auto 0;
    width: 550px;
    min-height: 500px;
    max-width: 100%;
    border:solid 2px #4E342E;
    border-radius:30px;
}
.btn {
    background-color: #4E342E;
    border-color: #4E342E;
}
.btn:hover {
    background-color: #3b2c29;
    color: #ffffff !important;
    border-color: #4E342E; 
    transition: color 0.3s ease;
}